# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- List popular languages for Data Science.
- List common libraries used by Data Scientists.
- List some open-source tools for Data Science.

# Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Scala.
5. Java.
6. C++.
7. Julia.

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Scientific Computing).
2. NumPy (Scientific Computing).
3. Matplotlib (Visualization).
4. Seaborn (Visualization).
5. Scikit-learn (Machine Learning).
6. Keras (Deep Learning).
7. TensorFlow (Deep Learning).

#
|Data Science Tools|
|------------------|
|MySQL|
|Apache Kafka|
|Pixie Dust|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hour = minutes/60
print(hour)

3.3333333333333335

## Author
Mohammad Ziaur Rahman